[submodule "libs/spiffs"]
	path = libs/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "libs/mbedtls/mbedtls"]
	path = libs/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
